/*

  FONT FAMILY GROUPS
  Docs: http://aircss.io/docs/typography/font-family/

*/


.sans-serif {
  font-family: -apple-system, BlinkMacSystemFont,
               'avenir next', avenir,
               'helvetica neue', helvetica,
               ubuntu,
               roboto, noto,
               'segoe ui', arial,
               sans-serif;
}

.serif {
  font-family: georgia,
               times,
               serif;
}

code, .code {
  font-family: Consolas,
               monaco,
               monospace;
}
