/*

  FONT SIZE
  Docs: http://aircss.io/docs/typography/font-size.html

  To create and design an easily readable interface, you only need a simple ratio-based scale to
  provide a wide array of visual possibilities and an efficient way to prioritize the information
  on anything you can build from web pages to a full-featured webapp.


  Mnemonics
  =========

  Bases:
    f = font-size

  Modifiers:
    -title = title dedicated size
    -subtitle = subtitle dedicated size
    1 = 1st step in size scale
    2 = 2nd step in size scale
    3 = 3rd step in size scale
    4 = 4th step in size scale
    5 = 5th step in size scale
    6 = 6th step in size scale
    7 = 7th step in size scale
    8 = 8th step in size scale

  Optional extensions:
    -m = medium width container
    -l = large width container

*/


/* csslint font-sizes: false */
.f-title { font-size: var(--font-size-1, 2.5rem); }
.f-subtitle { font-size: var(--font-size-1, 2rem); }

.f1 { font-size: var(--font-size-2, 1.75rem); }
.f2 { font-size: var(--font-size-3, 1.5rem); }
.f3 { font-size: var(--font-size-4, 1.375rem); }
.f4 { font-size: var(--font-size-5, 1.25rem); }
.f5 { font-size: var(--font-size-6, 1.125rem); }
.f6 { font-size: var(--font-size-7, 1rem); }
.f7 { font-size: var(--font-size-8, 0.875rem); }
.f8 { font-size: var(--font-size-9, 0.75rem); }
