/*

  LINE HEIGHT / LEADING
  Docs: http://aircss.io/docs/typography/line-height

*/

.lh-solid { line-height: var(--line-height-solid, 1); }
.lh-title { line-height: var(--line-height-title, 1.25); }
.lh-body  { line-height: var(--line-height-body, 1.5); }

