/*
  MEASURE
  Docs: http://aircss.io/docs/typography/measure.html

  Measure or line length is the distance between the left and right edges of a text block. Overly
  long lines are a common problem, but they're easy to correct. Shorter lines will make a big
  difference in the legibility and professionalism of your layout.


  Mnemonics
  =========

  Base:
    tt = text-transform

  Modifiers:
    s = sentence — first letter of the first word is capitalized
    t = title case — first letter of each word is capitalized
    u = uppercase



*/

.measure-wide { max-width: 80ch; }
.measure-narrow { max-width: 45ch; }
.measure-medium, .measure { max-width: 66ch; }
