/*
  MEASURE
  Docs: http://aircss.io/docs/typography/measure


  Measure refers to the length of a line of text. It is one of the most important aspects of
  readability.

*/

.measure { max-width: 66ch; }
.measure-wide { max-width: 80ch; }
.measure-narrow { max-width: 45ch; }
