/*
  TEXT DECORATION
  Docs: http://aircss.io/docs/typography/text-decoration.html

  Underline and strikethrough decorations on a text are respectively used to add an emphasis
  or epanorthosis to all or part of it.


  Mnemonics
  =========

  Bases:
    normal
    strike
    underline

  Optional extensions:
    -hvr = styled on hovering

  Shorthand
  =========

  It is possible to use the class name <span class="code red f7">u</span> instead of <span class="code red f7">underline</span>.
*/


/* generate: hover-rule */
.normal { text-decoration: none;}
.strike { text-decoration: line-through; }
.underline { text-decoration: underline; }
.u { text-decoration: underline; }
/* end generate */