/*

  WHITE SPACE
  Docs: http://aircss.io/docs/typography/white-space.html

  Sometime it is necessary to set a different strategy to handle white spaces and new lines from the
  default one web browser use in an element.


  Mnemonics
  =========

  Bases:
    pre
    nowrap
    truncate

  Optional extensions:
    -m = medium width container
    -l = large width container

*/

.nowrap { white-space: nowrap; }
.pre { white-space: pre; }

.truncate {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}