/*

  FONT STYLE
  Docs: http://aircss.io/docs/typography/font-style.html

  While italics are mainly used to draw attention to certain words or passages, the font style also
  plays an important role in differentiating the titles and names of things such as novels, movies,
  or vehicle names from other text.


  Mnemonics
  =========

  Bases:
    fs = font-style

  Modifiers
    -normal
    -italic


  Shorthand
  =========

  It is possible to use the class name `i` instead of `fs-italic`.

*/

.fs-normal { font-style: normal; }
.fs-italic { font-style: italic; }

.i { font-style: italic; }
