/*

  TEXT TRANSFORM
  Docs: http://aircss.io/docs/typography/text-transform.html

  Uppercase, title case and sentence can all be used in the same application. But if you are using
  title case for headings, all headings need to be in title case. Likewise, you can use sentence
  case for paragraphs. Use uppercase for standout texts only. The most important thing is
  consistency.


  Mnemonics
  =========

  Bases:
    tt = text-transform

  Modifiers:
    s = sentence — first letter of the first word is capitalized
    t = title case — first letter of each word is capitalized
    u = uppercase

*/

.tts:first-letter { text-transform: uppercase; }
.ttt { text-transform: capitalize; }
.ttu { text-transform: uppercase; }
