/*

  FILTER EFFECTS
  Docs: http://aircss.io/docs/themes/filters/

    - Blur
    - Grayscale
    - Shadow

*/


/* generate: hover-rule */
.filter-none { filter: none; }

.filter-shadow-none { filter: drop-shadow(0); }
.filter-shadow-25 { filter: drop-shadow(0 0 0.75rem #bbb); }
.filter-shadow-50 { filter: drop-shadow(0 0 0.75rem #999); }
.filter-shadow-100 { filter: drop-shadow(0 0 0.75rem #000); }

.filter-blur-none { filter: blur(0); }
.filter-blur-25 { filter: blur(0.5rem); }
.filter-blur-50 { filter: blur(1rem); }
.filter-blur-100 { filter: blur(4rem); }
/* end generate */