/*

  OPACITY
  Docs: http://aircss.io/docs/themes/opacity/

*/


/* generate: hover-rule */
.o-100 { opacity: 1; }
.o-75 { opacity: .75; }
.o-50 { opacity: .5; }
.o-25 { opacity: .25; }
.o-0 { opacity: 0; }
/* end generate */