/* generate: hover-rule */
.shadow { box-shadow: 4px 4px 8px 0 rgba( 0, 0, 0, 0.2 ); }
.shadow-out { box-shadow: 4px 4px 8px 0 rgba( 0, 0, 0, 0.2 ); }
.shadow-in { box-shadow: inset 4px 4px 8px 0 rgba( 0, 0, 0, 0.2 ); }
/* end generate */