/*

  DISPLAY
  Docs: http://aircss.io/docs/layout/display.html

  Base:
    d = display

  Modifiers:
    n = none
    f = flex
    b = block
    i = inline
    ib = inline-block

  Media Query Extensions:
    -m = medium
    -l = large

*/

/* generate: container-rule */
.dn { display: none; }

.df { display: flex; }

.db { display: block; }
.di { display: inline; }
.dib { display: inline-block; }
/* end generate */