/*

  FLEXBOX

  Docs: http://aircss.io/docs/layout/flex

  Base:
    flex

  Modifiers:
    -auto
    -grow
    -none

    -nowrap
    -column
    -row
    -wrap

*/


/* generate: container-rule */
.flex-row { flex-direction: row; }
.flex-column { flex-direction: column; }

.flex-none { flex: none; }
.flex-auto { flex: 1 1 auto; }
.flex-grow { flex-grow: 1; }

.flex-wrap { flex-wrap: wrap; }
.flex-stretch { align-items: stretch; }
/* end generate */
