/*

  VERTICAL ALIGN

  Media Query Extensions:
    -m  = medium
    -l  = large

*/


/* generate: container-rule */
.overflow-visible { overflow: visible; }
.overflow-hidden { overflow: hidden; }
.overflow-scroll { overflow: scroll; }
.overflow-auto { overflow: auto; }
/* end generate */