/*

   POSITIONING
   Docs: http://aircss.io/docs/layout/position/

   Media Query Extensions:
     -m  = medium
     -l  = large

*/

/* generate: container-rule */
.static { position: static; }
.relative { position: relative; }
.absolute { position: absolute; }
.fixed { position: fixed; }
/* end generate */