/* generate: container-rule */
.scale-25 {
	transform: scale(.25);
}

.scale-50 {
	transform: scale(.5);
}

.scale-150 {
	transform: scale(1.5);
}

.scale-200 {
	transform: scale(2);
}
/* end generate */