/*
  TYPE SCALE
  Docs: http://aircss.io/docs/typography/type-scale

  Base:
    f = font-size

  Modifiers
    1 = 1st step in size scale
    2 = 2nd step in size scale
    3 = 3rd step in size scale
    4 = 4th step in size scale
    5 = 5th step in size scale
    6 = 6th step in size scale
    7 = 7th step in size scale
    8 = 8th step in size scale
    9 = 9th step in size scale
*/


/* Type Scale */

.f1 { font-size:  var(--font-size-1, 2.011rem); }
.f2 { font-size:  var(--font-size-2, 1.749rem); }
.f3 { font-size:  var(--font-size-3, 1.521rem); }
.f4 { font-size:  var(--font-size-4, 1.322rem); }
.f5 { font-size:  var(--font-size-5, 1.15rem); }
.f6 { font-size:  var(--font-size-6, 1rem); }
.f7 { font-size:  var(--font-size-7, 0.873rem); }
.f8 { font-size:  var(--font-size-8, 0.756rem); }
.f9 { font-size:  var(--font-size-9, 0.658rem); }
