<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/air.min.css" />

    <title>Air</title>
  </head>
  <body class="sans-serif noir-70 bg--noir-10">

    <div class="center w8">

      <h1 class="f1">Skins</h1>

      <p class="measure tj">
        Air comes with a collection of classes for setting the color of text and the color of the background. 
        The built-in palette gives 8 vibrant colors and a full B&W gradient to build elegant and accessible combinations.
      </p>

      <div class="pv4">
        <div><div class="dib w4 pv4 bg--<%= name %>">&nbsp;</div><div class="dib ph3 f1 b <%= name %>">Aa</div><div class="dib w5 ph4 f8 code">.bg--<%= name %><br>.<%= name %></div><div class="dib f8">HEX: <%= value %></div></div>
      </div>

    </div>
  </body>
</html>