/*

  COORDINATES
  Docs: https://aircss.io/docs/layout/coordinates.html


  The coordinates sets where an element is positioned inside of a document or another
  element.

  Mnemonics
  =========

  Bases:
    top
    right
    bottom
    left

*/

/* generate: container-rule */
.top { top: 0; }
.right { right: 0; }
.bottom { bottom: 0; }
.left { left: 0; }
/* end generate */