/*

  FLEXBOX
  Docs: http://aircss.io/docs/layout/flexbox.html

  Flexboxes are first-class citizens in aircss to build advanced layouts. Their
  use is made simple through an expressive set of dedicated classes to 
  configure the containers and their child items.

*/

/* generate: container-rule */
.flex { display: flex; }

.row { flex-direction: row; }
.column { flex-direction: column; }
.reverse.row { flex-direction: row-reverse; }
.reverse.column { flex-direction: column-reverse; }

.evenly-spaced { justify-content: space-evenly; }
.evenly-filled { justify-content: space-between; }

.wrapped { flex-wrap: wrap; }

.grow { flex: auto; }
.noflex { flex: none; }

.center { align-self: center; }
.start  { align-self: flex-start; }
.end    { align-self: flex-end; }
/* end generate */
