
/*

   FLOATS
   http://aircss.io/docs/layout/floats/

   1. Floated elements are automatically rendered as block level elements.
   2. Don't forget to clearfix your floats with .cf

   Base:
     f = float

   Modifiers:
     l = left
     r = right
     n = none

   Media Query Extensions:
     -m  = medium
     -l  = large

*/

/* generate: container-rule */
.fl { float: left; }
.fr { float: right; }
.fn { float: none; }
/* end generate */