/*

  POSITION
  Docs: https://aircss.io/docs/layout/position.html

  The position sets how an element is positioned in a document. This module should be
  used in conjunction with the coordinates module.


  Mnemonics
  =========

  Bases:
    fixed
    absolute
    relative
    sticky

  Optional extensions:
    -m  = medium
    -l  = large

*/

/* generate: container-rule */
.fixed { position: fixed; }
.absolute { position: absolute; }
.relative { position: relative; }
.sticky { position: sticky; }
/* end generate */