/*

  VERTICAL ALIGN

  Mnemonics
  =========

  Bases:
    v = vertical

  Modifiers:
    -base

    -top = align top edges
    -mid = center within the row
    -btm = align bottom egdes

  Optional extensions:
    -m  = medium
    -l  = large

*/

/* generate: container-rule */
.v-base     { vertical-align: baseline; }
.v-top      { vertical-align: top; }
.v-mid      { vertical-align: middle; }
.v-btm      { vertical-align: bottom;}
/* end generate */
