/*

  Z-INDEX
  Docs: https://aircss.io/docs/layout/z-index.html

  Mnemonics
  =========

  Bases:
    z = z-index

  Modifiers:
    0 = literal value 0
    1 = literal value 1
    2 = literal value 2
    3 = literal value 3
    4 = literal value 4
    5 = literal value 5
    999 = literal value 999
    9999 = literal value 9999

    -max = largest accepted z-index value as integer

*/

.z0 { z-index: 0; }
.z1 { z-index: 1; }
.z2 { z-index: 2; }
.z3 { z-index: 3; }
.z4 { z-index: 4; }
.z999 { z-index: 999; }
.z9999 { z-index: 9999; }
.z-max { z-index: 2147483647; }